<!-- Add new customer modal -->
<div class="modal" id="newCustomerModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="#modal-title">New Customer</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
	      <label for="category">Customer Category</label>
	      <select class="custom-select" id="category"> 
		    <option selected value="">Select a category</option>
		    {% for category in categories %}
		    <option value="{{category.id}}">{{category.category_name}}</option>
		    {% endfor %}
		  </select>

	    </div>
	    <div class="form-group">
	      <label for="name">Name</label>
	      <input type="text" class="form-control" id="name" placeholder="Name">
	    </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="save">Save</button>
      </div>
    </div>
  </div>
</div>