{% load humanize %}

<div class="btn-group pb-3" role="group" aria-label="Basic example" style="overflow-x: auto; max-width: 100%" id="transaction-type-action">
  <button type="button" class="btn btn-primary text-nowrap active" data-transaction-type="all">All</button>
  <button type="button" class="btn btn-primary text-nowrap" data-transaction-type="Store">Store</button>
  <button type="button" class="btn btn-primary text-nowrap" data-transaction-type="Shop">Shop</button>
  <button type="button" class="btn btn-primary text-nowrap" data-transaction-type="Debit">Debit</button>
</div>

<div id="transaction-container">
{% for transaction in transactions reversed %}
  {% if profile %}
    {% ifchanged transaction.date_added|date:'D - M. d, Y'%}
      <h4 class="mb-2 mt-4 font-weight-bold">{{transaction.date_added|date:'D - M. d, Y'}}</h4>
    {% endifchanged %}
  {% endif%}
  <div class="transaction-container shadow rounded bg-light my-1 p-2" data-id="{{transaction.id}}" data-amount="{{transaction.amount}}" data-name="{{transaction.name.id}}" data-category-type="{{transaction.category_type}}" data-date-added="{{transaction.date_added|date:'Y-m-d H:i:s'}}" data-description="{{transaction.description}}" data-category="{{transaction.category_type}}">
    <div class=" d-flex justify-content-between">
  	<div class="d-flex flex-column">
  		<p class="mb-0 d-flex align-items-center flex-wrap ">
  			<span class="bg-info px-2 my-1 py-1 text-white rounded font-weight-bold">{{transaction.date_added|date:'g:i a'}}</span> 
  			<a class="m-1" href="{% url 'customer-profile'%}?customer_name={{transaction.name.name}}">{{transaction.name.name}}</a> for <span class="m-1 bg-danger p-1 px-2 text-white rounded">₱{{transaction.amount | intcomma}}</span> 	<!-- trashcan -->
	  	</p>
	  	<p class="pt-1 px-2 mt-1 mb-0">"{{transaction.description}}" <span class="bg-info p-1 px-2 text-white rounded font-weight-bold">#{{transaction.category_type}}</span></p> 
  	</div>
  	<div class="d-flex flex-column">
  		<svg width="1.2em" height="1.2em" viewBox="0 0 16 16" class="bi bi-pencil my-1" fill="currentColor" xmlns="http://www.w3.org/2000/svg" data-toggle="modal" data-target="#editTransactionModal" data-action="edit">
		  <path fill-rule="evenodd" d="M11.293 1.293a1 1 0 0 1 1.414 0l2 2a1 1 0 0 1 0 1.414l-9 9a1 1 0 0 1-.39.242l-3 1a1 1 0 0 1-1.266-1.265l1-3a1 1 0 0 1 .242-.391l9-9zM12 2l2 2-9 9-3 1 1-3 9-9z"/>
		  <path fill-rule="evenodd" d="M12.146 6.354l-2.5-2.5.708-.708 2.5 2.5-.707.708zM3 10v.5a.5.5 0 0 0 .5.5H4v.5a.5.5 0 0 0 .5.5H5v.5a.5.5 0 0 0 .5.5H6v-1.5a.5.5 0 0 0-.5-.5H5v-.5a.5.5 0 0 0-.5-.5H3z"/>
		</svg>
  		<svg width="1.2em" height="1.2em" viewBox="0 0 16 16" class="bi bi-trash my-1" fill="currentColor" xmlns="http://www.w3.org/2000/svg" data-toggle="modal" data-target="#deleteTransactionModal" data-action="delete">
		  <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
		  <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
		</svg>
  	</div>
    </div>
  </div>
  {% empty %}
  	<p class="text-center font-weight-bold">No transactions found</p>
  {% endfor %}
  </div>
</div>